/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/bin/
/vendor/
/maquette/
/web/js/
/files/*
/web/css/
/web/cache/*
/app/skinWebUser/*
/nbproject/private/
/maquette/nbproject/private/
/.idea/
/var/